<section class="container-fluid align-items-left">
    <div style="width: 50%; padding: 2%;">
        <ul class="list-group">
            <li class="list-group-item">ID: <%= arrRopa[0].id %></li>
            <li class="list-group-item">Nombre: <%= arrRopa[0].nombre %></li>
            <li class="list-group-item">Tipo: <%= arrRopa[0].tipo %></li>
            <li class="list-group-item">Valor: <%= arrRopa[0].precio %></li>
            <li class="list-group-item">Colores: <%= arrRopa[0].nombre %></li>
          </ul>
    </div>
    
</tbody>
</section>